API_ID=
API_HASH=
BOT_TOKEN=

DATABASE_URI=
DATABASE_NAME=autofilter

ADMINS=
BIN_CHANNEL=
LOG_CHANNEL=

AUTO_FFILTER=True
SPELL_CHECK_REPLY=True
BUTTON_MODE=True

SHORTENER_API=
SHORTENER_WEBSITE=

IS_VERIFY=True
